body {
	background-image: url("https://raw.githubusercontent.com/bringmethecode/mercury/master/br1/back.jpg");
	background-size: cover;
}

.card {
	background-color: #607D8B;
	width:100%;
	height:600px;
	max-width: 1200px;
	text-align: center;
	margin-top: 150px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	padding-bottom: 300px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 2)
 {

 .card {
 	background: rgba(0, 0, 0, 0);
 	margin-top: 0px;
 	box-shadow: 0 3px 6px rgba(0,0,0,0), 0 3px 6px rgba(0,0,0,0);
 }
 .footer {
    background-color: #fff;
    text-align: center;
    padding: 3 10 5 10;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
    position: relative;
    clear: both;
    max-width: auto;
  }
}

@media only screen 
  and (min-device-width: 890px) 
  and (max-device-width: 990px) {

 .card {
 	background: rgba(0, 0, 0, 0);
 	box-shadow: 0 3px 6px rgba(0,0,0,0), 0 3px 6px rgba(0,0,0,0);
 }

 .footer {
    background-color: #fff;
    text-align: center;
    padding: 3 10 5 10;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
    position: relative;
    clear: both;
    max-width: auto;
  }	
}

h1 {
	text-align: center;
	font-size: 40px;
	margin-top: 40px;
	font-family: 'Roboto Mono', monospace;
	color: #ECEFF1;

}

h2 {
	text-align: left;
	color: #202020;
	font-size: 16px;
	font-family: 'Roboto Mono', monospace;
	padding-left: 20px;
	color: #B0BEC5;

}

h3 {
	font-family: 'Inconsolata', monospace;
	font-size: 14px;

}

.btn-default {
	border-color: transparent;

}

.btn {
	margin-top: 20px;
	color: white;
	width: 150px;
	height: 150px;
	text-align: right;
	padding-bottom: 110px;
	transition-timing-function: ease;
	transition: background-color 1s;
	margin-bottom: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size: 10px;

}

.btn:hover::after {
	content: '';
	position: absolute;
	top: -0.5;
	left: -0.5;
	width: 150px;
	height: 150px;
	background: rgba(21, 21, 21, 0.2);
	border-color: transparent;
	transition-timing-function: ease;
	transition: background 1s;
	border: 1px solid transparent;
    border-radius: 4px;
}

.c1.active {
	background-color: #FFD54F;
	box-shadow: none;
}

.c1.active .on {
	display: block;
	left: -1;
    bottom: 126;
}

.c1.active .of {
	display: none;
}



.c1 {
	background-color: #FFB300;
	position: relative;
}

.c3.active {
	background-color: #69F0AE;
	box-shadow: none;
}

.c3 {
	background-color: #00E676;

}
.c4.active {
	background-color: #64B5F6;
	box-shadow: none;
}

.c4 {
	background-color: #1E88E5;
}

.c5.active {
	background-color: #EF5350;
	box-shadow: none;
}

.c5 {
	background-color: #E53935;
}

.material-icons {
	font-size: 125px;
	margin-top: 5px;
}

.material-icons.orange300 { 
	color: #FFB74D;
	font-size: 125px;
}

.material-icons.amber800 { 
	color: #FF8F00;
	font-size: 125px;
}

.material-icons.greenA700 { 
	color: #00C853;
	font-size: 125px;
}

.material-icons.blue700 { 
	color: #1976D2;
	font-size: 125px;

}

.material-icons.red700 { 
	color: #D32F2F;
	font-size: 125px;
}

.of {
    position: relative;
    bottom: 115;
    right: 20px;
    display: inline-block;
    color: white;
}

.on {
	display: none;
    position: relative;
    bottom: 115px;
    right: 20px;
    color: white;
}

.footer {
	background-color: #fff;
    height: 90px;
    max-width: 500px;
    padding: 3 10 5 10;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
    position: relative;
    clear: both;
    margin-top: 114px;
